body {
    background-color: #ddd;
}

form > * {
    margin: 10px;
}

button {
    padding: 10px 20px;
}

.weather-field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    max-width: 360px;

    & input {
        padding: 6px;
    }
}

.weather-information-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.6fr;
    min-height: 300px;
    max-width: 360px;
    border: 2px solid black;
    margin: 10px;
}

.weather-location {
    grid-column: 1 / span 2;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
}

.temperature-container {
    justify-items: center;
    margin: 5px;
    border: 2px solid black;
}

.current-temperature {
    font-size: 48px;
}

.temp-and-conditions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.weather-max-and-min {
    display: flex;
    align-items: center;
    gap: 20px;
}

.weather-description {
    grid-column: 1 / span 2;
    justify-self: center;
    margin: 10px;
    text-align: center;
}
